#cb-drag {
  margin-bottom: 8px;
  padding: 24px 0;
  text-align: center;
  background-color: #E3F2FD;
  border: 4px dotted #3F51B5;
}
#cb-drag p {
  color: #1E88E5;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 16px;
}
#cb-file {
  cursor: pointer;
}
#cb-display {
  margin-bottom: 0;
}
#cb-display p {
  margin-top: 8px;
  margin-bottom: 0;
  line-height: 1.4;
}
.cb-div {
  padding: 16px;
  border: 1px solid #eee;
  margin-bottom: 8px;
  background-color: #fafafa;
}
.cb-image {
  cursor: pointer;
  border: 4px solid #222;
}

